<link rel="stylesheet" href="/css/permiso.css ">

<body>
	<form action="/permiso/permiso" method="get">

		<div id="contenedor">
			<div id="grupo__terminos">
				<label id="formulario__label">
					<input id="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					ver
				</label>
			</div>
			<div id="grupo__terminos">
				<label id="formulario__label">
					<input id="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					crear
				</label>
			</div>
			<div id="grupo__terminos">
				<label id="formulario__label">
					<input id="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					actualizar
				</label>
			</div>
			<div id="grupo__terminos">
				<label id="formulario__label">
					<input id="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					borrar
				</label>
			</div>
			<div><br>
        <a href="/rol/lista/{{user.id_usuario}}"> <button type="buttom" id="confirmar"><b> Guardar </b></button></a>
			</div>
		</div>
		<div>
        <a href="/rol/lista/{{user.id_usuario}}"> <button type="buttom" id="cancelar"><b> Guardar </b></button></a>
		</div>

	</form>
</body>