<link rel="stylesheet" href="/css/login.css ">

<body>
    <a href="/">
        <img src="/img/logom.jpg" id="logo">
    </a>

    <nav>
        <a href=" " id="nav-enlace desaparece" onclick="accion()"><b>MENU</b></a>
        <a href="/" id="nav-enlace desaparece"><b>Inicio</b></a>
        <a href="/registro" id="nav-enlace desaparece"><b>Registro</b></a>
    </nav>

    <form action="/login" method="post">
        <div id="container">
            <br>
            <img id="img2" src="/img/login2.png" alt="">

            <div id="titulo">
                <h2><b>Iniciar sesión</b></h2>
            </div>
            <div id="labels">
                <div id="usuario">
                    <label for="" id="user"><b>Nombre de usuario</b></label>
                    <input type="text" name="username" id="username" checked>
                </div>

                <div id="contraseña">
                    <label for="" id="pass"><b>Contraseña de usuario</b></label>
                    <input type="password" name="password" id="password" checked>
                </div>
            </div>

            <div id="registro">
                <h2 id="registro">¿Aun no tienes cuenta?
                    <a id="link" href="/registro">Registrate</a>
                </h2>
            </div>

            <div id="boton">
                <button type="submit" id="ingresar"><b> Ingresar </b></button>
            </div>
            <br>
    </form>

    <footer id="second-footer">
        <p id="mind">
            &copy; <a href="/">MindConcentrade.com - 2022</a>
        </p>
    </footer>
</body>