<link rel="stylesheet" href="/css/registro.css ">

<form action="/login" method="post">
  <body>
       <div class="container">
        <img class="img2" src="/img/login2.png" alt="">
        <div id="titulo">
            <h2>Registro</h2>
        </div>

    <div id="cedula">
        <label for="">Cedula de usuario</label>  
        <input type="text" name="cedula" id="cedula" checked >      
    </div>

    <div id="usuario">
        <label for="">Nombre de usuario</label>  
        <input type="text" name="username" id="username" checked >      
    </div>

    <div id="telefono">
        <label for="">Telefono de usuario</label>  
        <input type="text" name="telefono" id="telefono" checked >      
    </div>

    <div id="contraseña">
        <label for="">contraseña de usuario</label>  
        <input type="password" name="password" id="password" checked >      
    </div>

    <div class="boton">
        <button type="submit">INGRESAR</button>
    </div>

    </div>

</form>
</body>
