<link rel="stylesheet" href="/css/registro.css ">

<nav>
    <button class="nav-boton" onclick="accion()">Menú</button>
    <a href="/" class="nav-enlace desaparece">Inicio</a>
    <a href="/registro" class="nav-enlace desaparece">Registro</a>
</nav>

<form action="/registro" method="post">
  <body>
       <div class="container">
        <img class="img2" src="/img/login2.png" alt="">
        <div id="titulo">
            <h2>Registrate</h2>
        </div>

    <div id="usuario">
        <label for="">Nombre de usuario</label>  
        <input type="text" name="username" id="username" checked >      
    </div>

 

    <div id="contraseña">
        <label for="">contraseña de usuario</label>  
        <input type="password" name="password" id="password" checked >      
    </div>
    
    <div class="registro">

        <h2>¿Ya tienes cuenta?
            <a class="link" href="/login">Inicia Sesion</a>
        </h2>
    </div>


    <div class="boton">
        <button type="submit" id="ingresar">Registrarse</button>

    </div>
    <br>

</form>

<footer class="second-footer">
		<p>
			&copy; <a href="/">MindConcentrade.com - 2022</a>
		</p>
	</footer>
</body>
