<link rel="stylesheet" href="/css/agregar.css ">

<form action="/rol/agregar/{{user.id_usuario}}" method="post" >

    <div class=" " id="contenedor"><br>

        <div id="titulo">
            <label><b>AGREGAR ROL</b></label>
        </div>

        <div id="Nombre"><br>
            <label><b> Nombre de Rol: </b></label>
            <input type="text" name="nombreRol" id="nombre">
        </div>
        <div id="Descripcion"><br>
            <label><b> Descripcion de Rol:</b></label>
            <input type="text" name="descripcionRol" id="descripcion">
        </div>

        
        <div ><br>
            <button type="submit" id="confirmar" ><b> Guardar </b></button>
          
        </div>
    </div>
</form>
<div>
 <a href="/rol/lista/{{user.id_usuario}}"> <button type="buttom"  id="cancelar"><b>  Cancelar </b></button></a>
</div>
