<link rel="stylesheet" href="/css/listar.css ">

<form action="/categoria/lista/{{user.id_usuario}}" method="get">

    <div id="contenedor"><br>
        <br>

        <div class="datos">

            {{#each lista}} 
            <div id="Nombre">
                <label><b> {{nombreCategoria}} </b></label>
            </div>

            <div id="Descripcion">
                <label>{{descripcionCategoria}}</label>
            </div>
            
            <div id="editar">
            <a href="/categoria/editar/{{id_categoria}}">
                <button type="button" id="editar" >Editar</button>
            </a>
            </div>

            <br>

            {{/each}}
            {{#each detalleLista}}
            {{/each}}
        </div>
    </div>
</form>
</div>