<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/navegacion.css">
</head>
<body>
    <nav>
        {{#if user}}
        <button class="nav-boton" onclick="accion()"><b>Menú</b></button>
        <a href="/nosotros"><b>Sobre Nosotros</b></a>  
        <a href="/contacto"><b>Sugerencias</b></a>      
        <a href="/problemas"><b>Consejos</b></a>
        <a href="/vida"><b>Vida Sana</b></a>
        <a href="/actividades/agregar/{{user.id_actividad}}"><b>Actividades</b></a>
        <a href="/consejo/lista/{{user.id_usuario}}"><b>Consejos</b></a>
        <a href="/cerrar"><b>Cierre Sesión<b></a>
        {{/if}}
      </nav>
      
      <script>
        function accion() {
          console.log('está funcionando mi boton');
          var ancla = document.getElementsByClassName('nav-enlace');
          for (var i = 0; i < ancla.length; i++) {
            ancla[i].classList.toggle('desaparece');
          }
        }
      </script>
</body>
</html>