<link rel="stylesheet" href="/css/index.css ">
<title>PROYECTO</title>

<body>

  <nav>
    <button class="nav-boton" onclick="accion()">Menú</button>
    <a href="/" class="nav-enlace desaparece">Inicio</a>
    <a href="/login" class="nav-enlace desaparece">Inicia Sesion</a>
    <a href="/registro" class="nav-enlace desaparece">Registro</a>
  </nav>
  <br><br><br><br>

  <div class="titulo">
    <h1><b>MINDCONCENTRADE</b></h1>
  </div>

<div class="container"> 
  <form action="/" method="post"><br>

    <h2><b>Mision</b></h2>
    <p>Buscamos cambiar y mejorar los habitos de las personas para que su productividad crezca y puedan lograr los
      objetivos que se propongan de esta forma seremos constantes con el desarrollo y el avance del proyecto abiertos
      siempre a nuevas ideas que cambien y mejoren todo para bien.</p>

    <h2><b>Vision</b></h2>
    <p>Ser la mejor aplicacion en cuanto al cuidado mental y desarrollo de rutina para el fortalezimiento de los buenos habitos.</p>
  </form>

</div>
<br><br>
<div class="logom">
      <img src="/img/logom.jpg" id="logom">
</div>
<br><br>
	<footer class="second-footer">
		<p>
			&copy; <a href="/">MindConcentrade.com - 2022</a>
		</p>
	</footer>

</body>