<link rel="stylesheet" href="/css/index.css ">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<form action="/" method="post">

<nav class="menu">
   <label class="logo">MindConcentrade</label>
   <ul class="menuit">
     <li class="active"><a href="/login.hbs">Login</a></li>
     <li class="active"><a href="#">Registro</a></li>
   </ul>
 <span class="btn_menu">
    <i class="fa fa-bars"></i>

</span>
 
</nav>
 

<p></p>

</form>



