<link rel="stylesheet" href="/css/estilos.css">

<body>
    <header>
        <nav>
            <a href="#">inicio</a>
            <a href="#">nosotros</a>
            <a href="#">portafolio</a>
            <a href="#">servicios</a>
            <a href="#">contacto</a>
            <a href="#">registro</a>
        </nav>
        <section class="textos-header">
            <h1>MindConcentrade</h1>
            <h2>La concentración es la clave</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C298.81,217.61 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <section  id="contenedor sobre-nosotros"> 
            <h2 class="titulo">Nosotros</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/img/logo.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3>Vision</h3>
                    <p>Ser la mejor aplicación al cuidado mental y desarrollo de rutinas de concentración para el fortalecimiento de buenos hábitos.</p>
                    <h3>Mision</h3>
                    <p>Buscamos cambiar y mejorar los habitos de las personas para que su productividad crezca y puedan lograr los objetivos que se propongan de esta forma seremos constantes con el desarrollo y el avance del proyecto abiertos siempre a nuevas ideas que cambien y mejoren todo para bien.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/img/imagen1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/imagen2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Nuestro Equipo</h2> 
            <div class="cards">
                    <div class="card">
                        <img src="/img/face1.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Jeysson Molina</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/img/face1.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Rommel Burgos</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <img src="/img/face1.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Abigail Campo</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <img src="/img/face1.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Joel Cervantes</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <img src="/img/face1.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Alejandro Sarmiento</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
            </div>
            </section>
            <section class="about-services">
                <div class="contenedor">
                    <h2 class="titulo">Nuestros Servicios</h2>
                    <div class="servicio-cont">
                        <div class="servicio-ind">
                            <img src="/img/undraw_hacker_mind_-6-y85.svg" alt="">
                            <h2>Plan Concentración</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, similique.</p>   
                        </div>
                        <div class="servicio-ind">
                            <img src="/img/undraw_mindfulness_re_mmj6.svg" alt="">
                            <h2>Plan Meditacion</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, similique.</p>   
                        </div>
                        <div class="servicio-ind">
                            <img src="/img/undraw_personal_trainer_re_cnua.svg" alt="">
                            <h2>Plan Vida Fitness</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, similique.</p>   
        
                        </div>
                    </div>
                </div> 
                </section>            
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>telefono</h4>
                <p>0987654321</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>mindconcentrade@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ciudad</h4>
                <p>Quito</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy;MindConcentrade | Kolab | Yavirac </h2>
    </footer>
</body>