<link rel="stylesheet" href="/css/index.css ">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<form action="/" method="post">

<nav class="menu">
   <label class="logo">MindConcentrade</label>
   <ul class="menuit">
     <li class="active"><a href='/login'>Login</a></li>
     <li class="active"><a href="/registro">Registro</a></li>
   </ul>
 <span class="btn_menu">
    <i class="fa fa-bars"></i>

</span>
 
</nav>
 <body>
   <div class="logoInicio" >
   <img src="/img/logom.jpg" alt="" >
  </div>


<br>

<h2>Mision</h2>

 </body>
<p>Buscamos cambiar y mejorar los habitos de las personas para que  su productividad crezca y puedan lograr los objetivos que se propongan de esta forma seremos constantes con el desarrollo y el avance del proyecto abiertos siempre a nuevas ideas que
   cambien y mejoren todo para bien </p>

  <h2>Vision</h2>
  <p>Ser la mejor aplicacion en cuanto al cuidado mental y desarrollo de rutina  para el fortalezimiento de los buenos habitos</p>

</form>



