<link rel="stylesheet" href="/css/index.css ">

<body>

    <a href="/">
        <img src="/img/logom.jpg" id="logo">
    </a>


  <nav>
    <a href=" " id="menu" onclick="accion()"><b>MENU</b></a>
    <a href="/" id="nav-enlace desaparece"><b>Inicio</b></a>
    <a href="/login" id="nav-enlace desaparece"><b>Inicia Sesion</b></a>
    <a href="/registro" id="nav-enlace desaparece"><b>Registro</b></a>
  </nav>
  <br><br><br><br><br>

  <div id="titulo">
    <h1><b>MINDCONCENTRADE</b></h1>
  </div>

  <div id="container">

    <form action="/" method="post" id="informacion"><br>

      <h2><b>Mision</b></h2>
      <p>Buscamos cambiar y mejorar los habitos de las personas para que su productividad crezca y puedan lograr los
        objetivos que se propongan de esta forma seremos constantes con el desarrollo y el avance del proyecto abiertos
        siempre a nuevas ideas que cambien y mejoren todo para bien.</p>

      <h2><b>Vision</b></h2>
      <p>Ser la mejor aplicacion en cuanto al cuidado mental y desarrollo de rutina para el fortalezimiento de los
        buenos habitos.</p>
    </form>

  </div>

  <div>
    <img src="/img/logom.jpg" id="logom">
  </div>

</body>