<link rel="stylesheet" href="/css/contacto.css">

<body>

	<a href="/">
		<img src="/img/logom.jpg" id="logo">
	</a>


	<form action="/contacto" method="get">

		<div id="contenedor">

			<div class="row" id="row">
				<article>
					<h2 style="text-align:center; color: black;">Envia tus Sugerencias</h2>
					<br>
					<p style="text-align:justify; color: black;"> Lo que hace que un sitio sea un gran sitio web
						depende
						del ti. Por ese motivo agradecemos tus sugerencias.
					<p>
				</article>
			</div>

			<div class="row">

				<div id="form">

					<form action="/contacto/agregar/" method="post" id="formulario">
						<div id="controlador"><br>
							
							<div id="nombre"><br>
								<label><b> Nombre: </b></label>
								<input type="text" name="nombre" id="nombre">
							</div>

							<div id="email"><br>
								<label><b>Email: </b></label>
								<input type="text" name="email" id="email">
							</div>

							<div id="sugerencia"><br>
								<label><b>Sugerencia: </b></label>
								<input type="text" name="sugerencia" id="sugerencia">
							</div>
							<br>
							<button type="submit" id="confirmar"><b> Enviar </b></button>


						</div>
					</form>

				</div>

				<div class="column" id="imagen">
					<img src="/img/img5.png">
					<br><br>
				</div>

			</div>

		</div>
		<br>
		</div>
		<br><br><br><br>
		<!-- FOOTER -->
		<footer>
			<div class="banner-wrapper">
				<div class="icon-text">

					<div class="icon-text-text">

						<ul class="social">

							<b>Encuentranos en:</b>

							<li>
								<a href="mailto:contact@faztweb.com">
									<i class="fa fa-envelope-o"></i>
								</a>
							</li>
							<li>
								<a href="http://facebook.com/fazttech">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="http://twitter.com/fazttech">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="http://instagram.com/fazttech">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a>
									&copy; <a href="http://faztweb.com">MindConcentrade.com - 2022</a>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</form>


</body>