<link rel="stylesheet" href="/css/registro.css ">

<body>

    <a href="/">
        <img src="/img/logom.jpg" id="logo">
    </a>
    
    <nav>
        <button class="nav-boton" onclick="accion()"><b>MENU</b></button>
        <a href="/" class="nav-enlace desaparece"><b>Inicio</b></a>
        <a href="/registro" class="nav-enlace desaparece"><b>Registro</b></a>
    </nav>

    <form action="/registro" method="post">
        <div class="container">
            <img class="img2" src="/img/login2.png" alt="">

            <div id="titulo">
                <h2><b>Registrate</b></h2>
            </div>

            <div id="usuario">
                <label for=""><b>Nombre de usuario</b></label>
                <input type="text" name="username" id="username" checked>
            </div>

            <div id="contraseña">
                <label for=""><b>contraseña de usuario</b></label>
                <input type="password" name="password" id="password" checked>
            </div>

            <div class="registro">
                <h2>¿Ya tienes cuenta?
                    <a class="link" href="/login">Inicia Sesion</a>
                </h2>
            </div>

            <div class="boton">
                <button type="submit" id="ingresar"><b>Registrarse</b></button>
            </div>
            <br>
    </form>

    <footer class="second-footer">
        <p>
            &copy; <a href="/">MindConcentrade.com - 2022</a>
        </p>
    </footer>
</body>