<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MindConcentrade</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/estilos.css">
  <link rel="stylesheet" href="css/estilo-login.css">
</head>

<body>

  <!-- MAIN WRAPPER -->
  <div id="wrapper">

    <!-- BANNER WRAPPER -->
    <div id="banner-wrapper">
      <header>
        <div id="header-inner">
          <a href="inicio.html" id="logo">
            <img src="imagenes/logo.jpeg" alt="">
          </a>

          <nav>
            <a href="#" id="menu-icon">
              <i class="fa fa-bars"></i>
            </a>
            <ul>
              <li>
                <a href="inicio.html" class="current">
                  Inicio
                </a>
              </li>
              <li>
                <a href="login.html">
                  Inicia Sesion
                </a>
              </li>
              <li>
                <a href="register.html">
                  Registrate
                </a>
              </li>
              <li>
                <a href="problemas.html">
                  Consejos Utiles
                </a>
              </li>
              <li>
                <a href="vida.html">
                  Vida Sana
                </a>
              </li>
              <li>
                <a href="dashboard.html">
                  Actividades
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
    </header>


    <div class="container">
      <h3><b>Seguro que tienes mucho que contarme</b></h3>
      <p style="text-align: justify;color: black;">
        Me encanta recibir impresiones, dudas y comentarios a los artículos o a mis servicios. Por eso me encantaría
        que me contactases para conocer tu historia.
        <br><br>
        Pero antes, echa un vistazo aquí por si ya puedo resolver tu duda:
        <br><br>
        ¿Quieres que trabajemos juntos? Si necesitas ayuda con tu proyecto, te invito a que veas mis cursos y
        servicios para saber cómo puedo ayudarte. También puedes echar un ojo a la Escuela Online Inspira el Cambio.
        <br><br>
        ¿Estás interesado en una mentoría o acompañamiento personal? En mi página de servicios encontrarás una lista
        de espera donde apuntarte para cuando abra nuevas plazas. Al inscribirte accederás a un cuestionario donde
        te pediré datos para analizar tu caso e indicarte unas orientaciones iniciales para tu proyecto.
        <br><br>
        ¿Quieres conocer los primeros pasos para posicionarte como un experto en Desarrollo Personal y captar más
        clientes? Descarga mi Guía Gratuita y conoce las claves para diferenciarte en el saturado mundo de Coaches y
        terapeutas y recibe videos y contenidos gratuitos para mejorar tus ventas y visibilidad.
        <br><br>
        ¿Te gustaría publicar en este blog? Si quieres compartir información orientada al marketing para
        profesionales del desarrollo personal, pincha aquí para conocer cómo es el proceso.
        <br><br>
        ¿Te gustaría hacerme una entrevista o que participara en tu congreso? Me encanta participar en este tipo de
        propuestas siempre que puedo, así que te doy unas pistas para que me puedas hacer una propuesta que me
        encante 🙂
        <br><br>
        ¡No te cortes! Escríbeme y así nos vamos conociendo.
      </p>

      <br>

      <div class="col-12 user-img">
        <img src="imagenes/img5.jpg">
        <br><br>

        <form style="text-align: center;" class=" ">
          <div class=" " id="user-group">
            <input type="text" class="formulario__input" placeholder="Tu Nombre" />
          </div><br>
          <div class=" " id="contrasena-group">
            <input type="email" class="formulario__input" placeholder="Tu Email" />
          </div><br>
          <div class=" " id="contrasena-group">
            <input type="text" class="formulario__input" placeholder="Sugerencias" />
          </div><br>
          <button type="submit" class="formulario__btn"><i class="fas fa-sign-in-alt"></i><a href="inicio.html">
              Enviar </a></button>
        </form><br>

      </div>
    </div>
  </div>
  <br><br>


  <!-- FOOTER -->
  <footer>
    <div class="banner-wrapper">
      <div class="icon-text">
        <div class="icon-text-icon">
          <ul class="footer-nav">
            <li>
              <a href="inicio.html"><b>Inicio</b></a>
            </li>
            <li>
              <a href="nosotros.html"><b>Nosotros</b></a>
            </li>
            <li>
              <a href="terminos.html"><b>Terminos</b></a>
            </li>
            <li>
              <a href="contacto.html"><b>Contactanos</b></a>
            </li>
          </ul>
        </div>
        <div class="icon-text-text">
          <ul class="social">
            <li>
              <a href="mailto:contact@faztweb.com">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
            <li>
              <a href="http://facebook.com/fazttech">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/fazttech">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://youtube.com/fazttech">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/fazttech">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="second-footer">
    <p>
      &copy; <a href="http://faztweb.com">MindConcentrade.com</a>
    </p>
  </footer>

  <!-- SCRIPTS -->
  <script>
    $(document).ready(function () {
      $('.slider1').bxSlider({
        mode: 'fade',
      });
      $('.slider2').bxSlider({
        mode: 'fade',
      });
      $('.slider3').bxSlider({
        mode: 'fade',
      });
    });
  </script>
</body>

</html>