<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>MindConcentrade</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/estilo-login.css">
</head>

<body>

	<!-- MAIN WRAPPER -->
	<div id="wrapper">

		<!-- BANNER WRAPPER -->
		<div id="banner-wrapper">
			<header>
				<div id="header-inner">
					<a href="inicio.html" id="logo">
						<img src="imagenes/logo.jpeg" alt="">
					</a>

					<nav>
						<a href="#" id="menu-icon">
							<i class="fa fa-bars"></i>
						</a>
						<ul>
							<li>
								<a href="inicio.html" class="current">
									Inicio
								</a>
							</li>
							<li>
								<a href="login.html">
									Inicia Sesion
								</a>
							</li>
							<li>
								<a href="register.html">
									Registrate
								</a>
							</li>
							<li>
								<a href="problemas.html">
									Consejos Utiles
								</a>
							</li>
							<li>
								<a href="vida.html">
									Vida Sana
								</a>
							</li>
							<li>
								<a href="dashboard.html">
									Actividades
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>

   <!-- LEFT COL -->
   <section class="left-col" id="portfolio">
    <h3><b style="color: burlywood;"> LA NUTRICION</b></h3>
    <p style="color: black;">Esta Guía pretende aportar algunas nociones básicas sobre alimentación y nutrición, exponer de una forma sencilla en que consiste la dieta equilibrada y los beneficios que ejerce sobre nuestra salud. 
      Contribuye a todo esto el conocimiento del Valor nutricional de los alimentos, saber interpretar el significado de las etiquetas que aparecen en los envases y proceder correctamente a su conservación.
    </p>
      
  </section>
  <section class="sidebar">
    <br><br><br><br><img src="imagenes/alimentacion.gif" class="vida-gif"> <br><br>
    <li>
      <a href="https://www.nutricionistaenquito.com/">     <b>https://www.nutricionistaenquito.com/</b></a>
    </li>
  </section>

  <div class="clearfix-padding"></div>

    <!-- ICONS -->
    <section class="one-third" id="skills">
      <div class="icon-wrap">
        <a href="https://www.ambientum.com/enciclopedia_medioambiental/aguas/el-consumo-de-agua-en-porcentajes.asp">
        <i class="fa fa-tint"> </i>
        </a>
      </div>
      <h3><b> Consume agua</b></h3>
      <p style="color: black;">El agua, que representa alrededor de dos tercios de nuestro peso corporal, transporta nutrientes y productos de desecho alrededor de nuestro cuerpo, regula nuestra temperatura, actúa como lubricante, es un amortiguador en nuestras articulaciones y desempeña un papel en la mayoría de las reacciones químicas que ocurren dentro de nosotros.</p>
    </section>
    <section class="one-third">
      <div class="icon-wrap">
        <a href="https://salud.nih.gov/articulo/los-beneficios-de-dormir/">
        <i class="fa fa-slideshare"></i>
        </a>
      </div>
      <h3><b>Descansar Bien</b> </h3>
      <p style="color: black;">Dormir fortalece las conexiones neuronales. Durante la fase REM del sueño, el hipocampo, el almacén de nuestra memoria, se restaura, transformando la memoria a corto plazo en memoria a largo plazo. En la Universiad de Hafi (Israel) lo han corroborado con los resultados de un estudio que afirma que una siesta de 90 minutos a media tarde ayuda a fijar los recuerdos y la destreza.</p>
    </section>
    <section class="one-third">
      <div class="icon-wrap">
        <a href="https://mejorconsalud.as.com/debemos-dejar-consumir-comida-chatarra/">
        <i class="fa fa-cutlery"></i>
        </a>
      </div>
      <h3><b>Evita Comida Chatarra</b> </h3>
      <p style="color: black;">Los alimentos saludables brindan las condiciones necesarias para que el organismo esté en su mejor estado durante el estudio. Sin embargo, las comidas rápidas o comidas chatarra, tan de moda en el mundo de hoy, en vez de favorecer, perjudican considerablemente a nuestro organismo y por ende también alteran nuestro rendimiento durante el estudio.</p>
    </section>
    <section class="one-third">
      <div class="icon-wrap">
        <a href="https://www.clinicasanpablo.co/educando/hablemos-de-salud-mental/el-ejercicio-un-aliado-de-la-salud-mental">
        <i class="fa fa-battery-quarter"></i>
        </a>
      </div>
      <h3><b>Ejercicio Fisico</b> </h3>
      <p style="color: black;">Hacer ejercicio con regularidad es parte importante de un estilo de vida saludable. Las personas que llevan una vida activa tienen menos probabilidad de enfermarse y mayor probabilidad de vivir una vida más duradera. Hacer ejercicio te permite tener un mejor estado físico y además mejora tu salud mental y la sensación general de bienestar.</p>
    </section>
    <section class="one-third">
      <div class="icon-wrap">
        <a href="https://www.healthychildren.org/Spanish/ages-stages/teen/substance-abuse/Paginas/Drug-Abuse-Prevention-Starts-with-Parents.aspx">
        <i class="fa fa-heartbeat"></i>
        </a>
      </div>
      <h3><b>Evita los Vicios</b> </h3>
      <p style="color: black;">No hay felicidad con drogas. Hay mentira, simulación, ocultamiento, sustracciones, violencia verbal y/o física, manipulación, cambios de ánimo, riesgo de padecer graves problemas de salud, dificultades de convivencia, predisposición al desarrollo de enfermedades mentales como trastornos límites de personalidad, esquizofrenia, bipolaridad, depresiones, TDAH, etc. </p>
    </section>
    <section class="one-third">
      <div class="icon-wrap">
        <a href="https://psicologiaymente.com/meditacion/ejercicios-meditacion">
        <i class="fa fa-smile-o"></i>
        </a>
      </div>
      <h3><b>Actividades y Meditacion</b></h3>
      <p style="color: black;">La meditación es una aliada importante para vencer este mal hábito. Como hemos dicho, la ansiedad está relacionada con el exceso de pensamientos. Al controlarlos, vencerás una parte del proceso. La técnica de consciencia plena ayuda a comprender los sentimientos y a enfocar la atención en el presente.
        Al establecer conexiones con las actividades, el cuerpo para de funcionar con el piloto automático y realiza tareas con más calidad y más percepción.</p>
    </section>

   </div>
  <div class="clearfix-padding"></div>


  <!-- FOOTER -->
  <footer>
    <div class="banner-wrapper">
      <div class="icon-text">
        <div class="icon-text-icon">
          <ul class="footer-nav">
            <li>
              <a href="inicio.html"><b>Inicio</b></a>
            </li>
            <li>
              <a href="nosotros.html"><b>Nosotros</b></a>
            </li>
            <li>
              <a href="terminos.html"><b>Terminos</b></a>
            </li>
            <li>
              <a href="contacto.html"><b>Contactanos</b></a>
            </li>
          </ul>
        </div>
        <div class="icon-text-text">
          <ul class="social">
            <li>
              <a href="mailto:contact@faztweb.com">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
            <li>
              <a href="http://facebook.com/fazttech">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/fazttech">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://youtube.com/fazttech">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/fazttech">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="second-footer">
    <p>
      &copy; <a href="http://faztweb.com">MindConcentrade.com - 2021</a>
    </p>
  </footer>

  <!-- SCRIPTS -->
  <script>
    $(document).ready(function () {
      $('.slider1').bxSlider({
        mode: 'fade',
      });
      $('.slider2').bxSlider({
        mode: 'fade',
      });
      $('.slider3').bxSlider({
        mode: 'fade',
      });
    });
  </script>
</body>

</html>