<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Concentrade</title>
    <link rel="shortcut icon" href="img/logom.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/">inicio</a>
            <a href="#tituloNosotros">nosotros</a>
            <a href="#portafolio">portafolio</a>
            <a href="#equipo contenedor">equipo</a>
            <a href="#contenedor-footer">contacto</a>
            <a href="/registro">registro</a>
        </nav>
        <section id="textos-header"> 
            <h1>MindConcentrade</h1>
            <h2>La concentración es la clave</h2>
        </section>
        <div id="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C298.81,217.61 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div> 
    </header>
    <main>
        <div id="tituloNosotros">
            <h2 id="titulo">Nosotros</h2> 
        </div>
        <section  id="contenedor-sobre-nosotros">             
            <div id="contenedor-sobre-nosotros"> 
                <div>
                    <img src="img/logo.png" alt="" id="imagen-about-us"> 
                </div>

                <div id="contenido-textos"> 
                    <h3>Vision</h3>
                    <p>Ser la mejor aplicación al cuidado mental y desarrollo de rutinas de concentración para el fortalecimiento de buenos hábitos.</p>
                    <h3>Mision</h3>
                    <p>Buscamos cambiar y mejorar los habitos de las personas para que su productividad crezca y puedan lograr los objetivos que se propongan de esta forma seremos constantes con el desarrollo y el avance del proyecto abiertos siempre a nuevas ideas que cambien y mejoren todo para bien.</p>
                </div>
            </div>
        </section>
        <section id="portafolio">
            <div id="contenedor">
                <h2 id="titulo">Portafolio</h2>
                <div id="galeria-port">
                    <div id="imagen-port">
                        <img src="img/imagen1.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen2.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen3.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen4.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen5.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen6.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen3.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div id="imagen-port">
                        <img src="img/imagen2.jpg" alt="">
                        <div id="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Equipocontenedor">
            <h2 id="titulo">Nuestro Equipo</h2> 
            <div id="cards">
                    <div id="card">
                        <img id="imgEquipo" src="img/face1.jpg" alt="">
                        <div id="contenido-texto-card">
                            <h4>Jeysson Molina</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <div id="card">
                        <img src="img/face1.jpg" alt="">
                        <div id="contenido-texto-card">
                            <h4>Rommel Burgos</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <br>
                    <div id="card">
                        <img src="img/face1.jpg" alt="">
                        <div id="contenido-texto-card">
                            <h4>Abigail Campo</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <br>
                    <div id="card">
                        <img src="img/face1.jpg" alt="">
                        <div id="contenido-texto-card">
                            <h4>Joel Cervantes</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
                    <br>
                    <div id="card">
                        <img src="img/face1.jpg" alt="">
                        <div id="contenido-texto-card">
                            <h4>Alejandro Sarmiento</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quisquam.</p>
                        </div>
                    </div>
            </div>
            </section>
            <section id="about-services">
                <div id="contenedor">
                    <h2 id="titulo">Nuestros Servicios</h2>
                    <div id="servicio-cont">
                        <div id="servicio-ind">
                            <img src="img/undraw_hacker_mind_-6-y85.svg" alt="">
                            <div id="planConcentracion">
                                <a id="Plan-Concentracion" href="">Plan Concentracion</a>
                            </div>                           
                            <p>Estudiar es una actividad que requiere la mayor concentración posible. Si tu capacidad para concentrarte es débil, existen numerosas técnicas de concentración que te ayudarán a dirigir toda atención hacia una sola tarea, en este caso la propia materia de estudio que hay que comprender e interiorizar</p>   
                        </div>
                        <div id="servicio-ind">
                            <img src="img/undraw_mindfulness_re_mmj6.svg" alt="">
                            <div id="planMeditacion">
                                <a id="Plan-Meditacion" href="">Plan Meditacion</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, similique.</p>   
                        </div>
                        <div id="servicio-ind">
                            <img src="img/undraw_personal_trainer_re_cnua.svg" alt="">
                            <div id="planVidaFitness">
                                <a id="Plan-Vida-Fitness" href="">Plan Vida Fitness</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, similique.</p>   
        
                        </div>
                    </div>
                </div> 
                </section>            
    </main>
    <footer>
        <div id="contenedor-footer">
            <div id="content-foo">
                <h4>telefono</h4>
                <p>0987654321</p>
            </div>
            <div id="content-foo">
                <h4>Email</h4>
                <p>mindconcentrade@gmail.com</p>
            </div>
            <div id="content-foo">
                <h4>Ciudad</h4>
                <p>Quito</p>
            </div>
        </div>
        <h2 id="titulo-final">&copy;MindConcentrade | Kolab | Yavirac </h2>
    </footer>
</body>
</html>