<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/fotter.css">

<img src="/img/logom.jpg" id="logo">

<nav>
  <button class="nav-boton" onclick="accion()">Menú</button>
  <a href="/" class="nav-enlace desaparece">Inicio</a>
  <a href="/login" class="nav-enlace desaparece">Inicia Sesion</a>
  <a href="/registro" class="nav-enlace desaparece">Registro</a>
</nav>

<br><br><br><br><br><br>

<div class="titulo" style="text-align: ;justify">
  <h1><b>MINDCONCENTRADE</b></h1>

  <div class="container">

    <form action="/" method="post" id="informacion"><br>

      <h2><b>Mision</b></h2>
      <p>Buscamos cambiar y mejorar los habitos de las personas para que su productividad crezca y puedan lograr los
        objetivos que se propongan de esta forma seremos constantes con el desarrollo y el avance del proyecto abiertos
        siempre a nuevas ideas que cambien y mejoren todo para bien.</p>

      <h2><b>Vision</b></h2>
      <p>Ser la mejor aplicacion en cuanto al cuidado mental y desarrollo de rutina para el fortalezimiento de los
        buenos habitos.</p>
    </form>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <section class="left-col" id="portfolio" style="position: ;justify">
    <br><br>
    <h3><b>CONOCETE</b></h3><br>
    <h4 style="color: black; text-align: justify;">
      La procrastinación es un fenómeno tan humano como el afán de aprendizaje. Llevado al extremo, no obstante, el
      hábito de postergar actividades es un trastorno del comportamiento relacionado con la ansiedad, el estrés y,
      en
      casos extremos, la depresión o la hiperactividad (trastorno por déficit de atención, TDAH). <br> <br>
      Es probable que te reconozcas como un procrastinador. Aunque el término es relativamente nuevo, la
      procrastinación es una conducta muy común. <br> <br>
      La buena noticia es que, al ser una conducta aprendida, también se puede desaprender.

    </h4>
  </section> <br>
  <img src="/img/procrastinar2.gif" style="position: ;left-col">

  <form action="/" method="post" id="informacion"><br>
    <br><br><br>
    <section class="sidebar">
      <br><br>
      <img src="/img/logom.jpg" id="logom">
    </section>
  </form>
</div>