<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css ">


<body>

  <a href="/">
    <img src="/img/logom.jpg" id="logo">
  </a>


  <nav>
    <button class="nav-boton" onclick="accion()"><b>MENU</b></button>
    <a href="/" class="nav-enlace desaparece"><b>Inicio</b></a>
    <a href="/login" class="nav-enlace desaparece"><b>Inicia Sesion</b></a>
    <a href="/registro" class="nav-enlace desaparece"><b>Registro</b></a>
  </nav>
  <br><br><br><br>

    <div class="titulo">
      <h1><b>MINDCONCENTRADE</b></h1>
      <div class="content-all">
        <div class="content-carrousel">
          <figure><img src="img/procrastinar.gif"></figure>
          <figure><img src="img/carrusel6.jpg"></figure>
          <figure><img src="img/carrusel5.png"></figure>
          <figure><img src="img/carrusel4.jpg"></figure>
          <figure><img src="img/carrusel3.jpg"></figure>
          <figure><img src="img/procrastinar4.gif"></figure>
          <figure><img src="img/carrusel2.jpg"></figure>
          <figure><img src="img/carrusel7.jpg"></figure>
          <figure><img src="img/carrusel1.jpg"></figure>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br>

    <div class="section">
      <section class="caja1">
        <p>
          Tu salud mental es importante: MindConcentrade te brinda las herramientas para ayudarte a mejorarlas.
        </p><br>
        <h2>¿Con qué estas luchando mas en este momento?</h2>
      </section>
    </div>
    <br><br><br><br><br><br><br><br>

    <div class="contenedor">

      <div class="contenedor-botones">
        <a  href="/apipreguntas">
        <button class="boton seis">
          <span>
              ESTRES
          </span>
          <svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>
        </button>
        </a>
        <a  href="/apipreguntas">
        <button class="boton seis">
          <span>TDAH</span>
          <svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>
        </button>
        </a>
        
        <button class="boton seis">
          <span>PROCASTINACION</span>
          <svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>
        </button>
        <button class="boton seis">
          <span>AGOTAMIENTO</span>
          <svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>
        </button>
        <button class="boton seis">
          <span>AUTOESTIMA</span>
          <svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>
        </button>
        <button class="boton seis">
          <span>OTROS</span>
          <svg>
            <rect x="0" y="0" fill="none"></rect>
          </svg>
        </button>
      </div>
    </div>

    <br><br><br><br>

    <div class="caja2">
      <p>
        ¿Por qué Mindconcentrade?
        Mindconcentrade está diseñado para atender a una amplia gama de usuarios que padecen
        muchas formas de problemas de salud mental. Estas son algunas de las formas en que puede ayudarlo.
      </p>
    </div>
    <br><br><br><br><br>

    <div class="estres">
      <img src="/img/estres.jpg">
    </div>

  <br><br><br><br><br><br>
  
  <!-- FOOTER -->
  <footer>
    <div class="banner-wrapper">
      <div class="icon-text">

        <div class="icon-text-text">

          <ul class="social">

            <b>Encuentranos en:</b>

            <li>
              <a href="mailto:contact@faztweb.com">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
            <li>
              <a href="http://facebook.com/fazttech">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/fazttech">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/fazttech">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a>
                &copy; <a href="http://faztweb.com">MindConcentrade.com - 2022</a>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>