<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/actividades.css">

<body>

    <a href="/">
        <img src="/img/logom.jpg" id="logo">
    </a>
<br><br><br>

    <!-- MAIN WRAPPER -->
    <form action="/actividades" method="get">

            <div class="logoactividad">
                <center>
                <img src="img/actividad2.gif" alt="" width="50%" height="50%">
                </center>
            </div>
            <div>
                <center>
                <h2>REGISTRA TUS ACTIVIDADES</h2>
                </center>
            </div>

        <br> <br> <br> 
        <div class="container">
            <br>
            <div class="row">

                <div class="col-md-5">

                    <div class="card">
                        <div class="card-header" style="text-align: center;">
                            <b style="color: rgb(53, 133, 136);"> ACTIVIDADES</b>
                        </div>
                        <div class="card-body">
                            <form class="formulario" id="formulario" method="post" action="actividades.php"
                                onsubmit="aplicacion.Agregar()">

                                <div class="mb-3">
                                    <label type="submit" class="form-label" name="actividad" id="actividad"><b>Ingresa
                                            tu
                                            Actividad Aqui!!</b></label>
                                    <input
                                        type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
                                        class="form-control" name="actividad" id="actividad" aria-describedby="helpId"
                                        placeholder="Nombre de tu  Actividad">

                                </div>

                                <div class="mb-3">
                                    <label type="date" class="form-label" name="dia" id="dia"><b>Dia</b> </label>
                                    <input
                                        type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
                                        class="form-control" name="dia" id="dia" aria-describedby="helpId"
                                        placeholder="Dia">

                                </div>

                                <div class="mb-3">
                                    <label type="datetime" class="form-label" name="fecha" id="fecha"><b>Fecha</b>
                                    </label>
                                    <input
                                        type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
                                        class="form-control" name="fecha" id="fecha" aria-describedby="helpId"
                                        placeholder="Fecha de la actividad año-mes-dia ">

                                </div>

                                <div class="mb-3">
                                    <label type="datetime-local" class="form-label" name="hora" id="hora"><b>Hora</b>
                                    </label>
                                    <input
                                        type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
                                        class="form-control" name="hora" id="hora" aria-describedby="helpId"
                                        placeholder="Hora de la Actividad 00:00:00">
                                    <br />
                                    <br />
                                    <button type="submit" class="btn btn-primary" value="Ingresar"><b>AGREGAR ACTIVIDAD
                                        </b>
                                    </button>

                                </div>

                            </form>
                        </div>

                    </div>

                </div>

                </table>
            </div>

        </div>
        <script>

            var url = "http://localhost/MindCont/actividades";

            var aplicacion = new function () {
                this.actividad = document.getElementById("actividad");
                this.dia = document.getElementById("dia");
                this.fecha = document.getElementById("fecha");
                this.hora = document.getElementById("hora");

                this.actividades = document.getElementById("actividades");

                this.Leer = function () {

                    var datos = "";

                    fetch(url)
                        .then(r => r.json())
                        .then((respuesta) => {
                            console.log(respuesta);

                            respuesta.map(
                                function (actividad, actividades, array) {
                                    datos += "<tr>";

                                    datos += "<td>" + actividad.id + "</td>";
                                    datos += "<td>" + actividad.actividad + "</td>";
                                    datos += "<td>" + actividad.dia + "</td>";
                                    datos += "<td>" + actividad.fecha + "</td>";
                                    datos += "<td>" + actividad.hora + "</td>";
                                    datos += '<td>  <div id="btn-group" role="group" aria-label=""><button type="button" id="btn-btn-info">Editar</button><button type="button" id="btn-btn-danger" onclick="aplicacion.Borrar(' + actividad.id + ')" >Borrar</button></div>' + '</td>';

                                    datos += "</tr>";
                                }
                            );
                            return this.actividades.innerHTML = datos;
                        })
                        .catch(console.log);

                    // datos = "<tr> <th>1</th><td>Correr</td><td>Lunes</td><td>14 Octubre 2021</td><td>05:00am</td><td>Editar | Borrar</td></tr>";

                };

                this.Agregar = function () {
                    console.log(actividad.value);
                    console.log(dia.value);
                    console.log(fecha.value);
                    console.log(hora.value);

                    var datosEnviar = { actividad: this.actividad.value, dia: this.dia.value, fecha: this.fecha.value, hora: this.hora.value }

                    fetch(url + "?insetar=1", { method: "POST", body: JSON.stringify(datosEnviar) })
                        .then(respuesta => respuesta.json())
                        .then((datosRespuesta) => {
                            console.log("Insertados");
                            this.Leer();

                        })
                        .catch(console.log);


                };

                this.Borrar = function (id) {
                    console.log(id);

                    fetch(url + "?borrar=" + id)
                        .then(respuesta => respuesta.json())
                        .then((datosRespuesta) => {
                            this.Leer();

                        })
                        .catch(console.log);


                };

                this.Editar = function (id) {



                }

            }
            aplicacion.Leer();

        </script>
        </div>

        <br><br>
        <!-- FOOTER -->
        <footer>
            <div id="banner-wrapper">
                <div id="icon-text">

                    <div id="icon-text-text">

                        <ul id="social">

                            <b>Encuentranos en:</b>

                            <li>
                                <a href="/">
                                    <i id="fa fa-envelope-o"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://facebook.com/">
                                    <i id="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/">
                                    <i id="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://instagram.com/">
                                    <i id="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    &copy; <a href="/">MindConcentrade.com - 2022</a>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</body>