<link rel="stylesheet" href="/css/nosotros.css">

<body>

	<a href="/">
		<img src="/img/logom.jpg" id="logo">
	</a>

	<!-- MAIN WRAPPER -->
	<form action="/nosotros" method="get">

		<div id="contenedor">

			<!--inicio del contenido-->

			<div id="container">
				<br>
				<h1 style="text-align: center;">Sobre Nosotros</h1>
				<br><br>
				<h3 style="text-align: center;">EL PROCASTINAR</h3>

				<article>
					<p style="text-align:justify; color: black;"> Es una obligación, no un deseo propio. Cuando fijamos
						metas en función de lo que
						idealmente queremos, de lo que nuestros padres, amigos o pareja desean, puede hacer que los
						objetivos sean muy interesantes y útiles
						pero no estaremos centrados en lo que realmente nosotros queremos afrontar. Hace que no nos
						planteemos retos,
						sino obligaciones. Un tema éste que desarrolle en un artículo y que creo que es bueno echarle un
						vistazo si le
						interesa esta temática.
						<br> <br>Si lo hago, lo hago bien, o no lo hago. Cuando nos proponemos hacer las cosas muy bien,
						nos
						vemos
						obligados a hacer mucho esfuerzo desde el principio. No vale empezar y luego ya se verá. Hay que
						estar a
						tope.
						Este hecho hace que si no estamos muy motivados, o no es posible renunciar a algo, acabemos
						posponiendo con
						la
						esperanza de retomar o iniciar la tarea cuando se tenga más ganas.
						<br> <br>Miedos e inseguridades. Los miedos, o en general cualquier sentimiento que no nos
						apetezca
						sentir,
						favorecerá dejarlo para otro momento. Cuando nos cuesta identificar o reconocer lo que nos
						atemoriza,
						normalmente hace que sea difícil fijarnos objetivos realistas. Tenderemos a fijarnos objetivos
						pocos
						realistas
						y potenciaremos el punto 2.
					</p>
					<br>
				</article>

				<article style="color: black;">
					<center>
						<img src="img/img3.jpg" id="img-nosotros" id="img3">
					</center>
					<br><br>
					<h3>PROBLEMA</h3>
					<p style="text-align: justify; color: black;">
						Tener problemas relacionados con la memoria o concentración a veces llamado niebla mental es un
						problema que
						nos
						impide mantenernos al 100% en las tareas que realizamos ya sea en tareas o en el trabajo
						escuchar una
						conversación leer estudiar o tomar un curso entonces que podríamos hacer para evitar la
						distracción y
						procrastinación.
					</p>

					<h3>SOLUCION</h3>
					<p style="text-align: justify;color: black; ">
						Por lo cual les presento MindConcentrade que pretende ayudar a las personas a mantener su
						concentración cuando
						realizan ya sea tareas o trabajos importantes emitiendo alertas y mostrando consejos para que de
						forma
						interactiva pueda estar alerta y concentrado en lo que este realizando en el momento y evitar
						así la
						distracción
						en otras aplicaciones o paginas cuenta con un contador que emite una alerta al momento que se
						deja de realizar
						la actividad y emitirá un consejo útil para mantener la concentración por medio de una animación
						atractiva y
						hacer clic para detener el contador y así evitar perder el tiempo en cosas no indispensables.
					</p>

					<h3>CONCLUSION</h3>
					<p style="text-align: justify; color: black;">
						Seria una idea simple , divertida y practica de poder mantener la concentración y realizar
						nuestras
						actividades
						100% concentrados dando lo mejor sin distracciones de ningún tipo.
					</p>
				</article>
			</div>
			<br>
		</div>

</body>