<link rel="stylesheet" href="/css/problemas.css">

<body>

  <form action="/problemas" method="get">

    <div id="wrapper">

      <!--inicio del body-->

      <div id="contenedor">

        <article id="articulo">
          <h3 style="text-align: center; color: burlywood;"><b>PROBLEMAS COMUNES Y CONSEJOS UTILES</b></h3><br>

          <section id="one-third" id="skills">

            <h4 style="text-align: left;">*BUSCAR GRATIFICACION INMEDIATA</h4><br>
            <h4 style="text-align: justify;">
              Han asumido que tienen ciertos privilegios, que la vida debería ser especialmente fácil para ellos o ellas
              y están legitimados para buscar la gratificación inmediata en cualquier situación, sean cuales sean las
              consecuencias.
            </h4><br><br>

            <h4 style="text-align: left;"> *JUSTIDICARSE O DEFENDERSE </h4><br>
            <h4 style="text-align: justify;">
              Cuando ponemos demasiado énfasis en la experiencia de emociones y estados afectivos
              positivos, podríamos estar transmitiendo la idea de que el estado psicológico más deseable y sano
            </h4><br><br>

            <h4 style="text-align: left;">*EXCESO DE PERFECCIONISMO</h4><br>
            <h4 style="text-align: justify;">
              A casi todos nos gusta hacer bien las cosas, pero si nos pasamos de rosca, esta actitud podría
              provocarnos serios problemas y en ocasiones el aplazamiento sirve para prepararse mejor, revisando alguna
              documentación adicional para estar más seguros de que lo harán bien
            </h4><br><br>

            <h4 style="text-align: left;"> *MIEDO A EQUIVOCARSE </h4><br>
            <h4 style="text-align: justify;">
              Las personas que tienen un miedo intenso a cometer errores tienden a posponer las tareas
              importantes por miedo a hacerlas mal se trata de ser realistas con las consecuencias sobre los errores
              reales y probablemente sean de situaciones dramaticas
            </h4><br><br>

            <h4 style="text-align: left;">*TAREAS FACILES Y QUE DOMINAN</h4><br>
            <h4 style="text-align: justify;">
              Recuperar rápidamente la sensación de control y competencia para sentirse mas agusto consigo mismo
              En ambos casos el resultado es el mismo, los plazos se estiran en exceso, lafechalímite se pasa y esto
              provoca problemas en su rendimiento, sus agendas y las de los demás
            </h4><br><br>

            <h4 style="text-align: left;"> *ESTADO DE ANIMO </h4><br>
            <h4 style="text-align: justify;">
              No es un defecto del carácter o una maldición misteriosa que ha caído en tu habilidad
              para administrar el tiempo, sino una manera de enfrentar las emociones desafiantes y estados de ánimo
              negativos generados por ciertas tareas: aburrimiento, ansiedad, inseguridad, frustración, resentimiento y
              más.
            </h4><br><br>

          </section>

          <section id="one-third" id="gifs">
            <br><br>
            <img src="/img/procrastinar3.gif" class="problemas-gif" width="600" height="300">
            <br><br>
            <img src="/img/procrastinar2.gif" class="problemas-gif" width="600" height="300">
            <br><br>
            <img src="/img/procrastinar4.gif" class="problemas-gif" width="600" height="300">

          </section>
          <br><br>

          <section id="one-third" id="skills">

            <h4 style="text-align: left;">*PROBLEMA DE REGULACION DE EMOCIONES</h4><br>
            <h4 style="text-align: justify;">
              La naturaleza particular de nuestra aversión depende de la tarea asignada o la situación. Podría ser
              debido a que la tarea misma es inherentemente poco placentera
              Esto puede ser entendida como “la primacía de la reparación del estado de ánimo a corto plazo… por
              encima del objetivo de las acciones planeadas a un plazo más largo”. Explicado de manera sencilla, la
              procrastinación es enfocarse más en “la urgencia inmediata de administrar los estados de ánimo negativos”
            </h4><br><br>

            <h4 style="text-align: left;"> *PENSAMIENTOS DE NO PODER REALIZAR UNA ACTIVIDAD </h4><br>
            <h4 style="text-align: justify;">
              Cuando fijas la mirada en un documento en blanco tal vez estás pensando: “No soy lo suficientemente
              inteligente para escribir esto" por lo cual causa
              aburrimiento,
              ansiedad, inseguridad, frustración, resentimiento y más.
              La procrastinación no es un defecto del carácter o una maldición misteriosa que ha caído en tu habilidad
              para
              administrar el tiempo, sino una manera de enfrentar las emociones desafiantes y estados de ánimo negativos
              generados por ciertas tareas.
            </h4><br><br>

            <h4 style="text-align: left;"> *TENER UNA BAJA AUTOESTIMA </h4><br>
            <h4 style="text-align: justify;">
              Los pensamientos que tenemos sobre procrastinación suelen exacerbar nuestra angustia y estrés, lo que
              contribuye a todavía más procrastinación.Estos rumiantes y sentimientos de culpabilidad que muchos de
              nosotros tenemos a raíz de la procrastinación, los cuales son conocidos como cogniciones procrastinadora,
              lo cual resulta en serios problemas al momento de realizar una actividad o deber.
            </h4><br><br>

            <h4 style="text-align: left;"> *EL CONFORMISMO </h4><br>
            <h4 style="text-align: justify;">
              El alivio temporal que sentimos cuando procrastinamos es lo que realmente hace muy
              vicioso el círculo. En el presente inmediato, suspender una tarea brinda alivio
              ”has sido recompensado por procrastinar” y el conductismo básico nos ha enseñado que cuando somos
              recompensados por algo, tendemos a hacerlo de nuevo
            </h4><br><br>

          </section>
        </article>
      </div>

    </div>
    </div>
  </form>
  <footer>
    <div id="contenedor-footer">
      <div id="content-foo">
        <h4>telefono</h4>
        <p>0987654321</p>
      </div>
      <div id="content-foo">
        <h4>Email</h4>
        <p>mindconcentrade@gmail.com</p>
      </div>
      <div id="content-foo">
        <h4>Ciudad</h4>
        <p>Quito</p>
      </div>
    </div>
    <h2 id="titulo-final">&copy;MindConcentrade | Kolab | Yavirac </h2>
  </footer>
</body>