<link rel="stylesheet" href="/css/agregar.css ">

<form action="/agenda/agregar/{{user.id_usuario}}" method="post" id="contenedor">
    <div class="controlador"><br>
        <div id="titulo">
            
            <label><b>AGREGAR AGENDA</b>
               
            </label>
            
        </div>
        <div id="Nombre"><br>
            <label><b> Nombre de Agenda: </b></label>
            <input type="text" name="nombreAgenda" id="nombre">
        </div>
        <div id="Descripcion"><br>
            <label><b> Descripcion de Agenda:</b></label>
            <input type="text" name="descripcionAgenda" id="descripcion">
        </div>
        <div id="Mision"><br>
            <label><b>Hora de la agenda:</b></label>
            <input type="text" name="horaAgenda" id="mision">
        </div>
        <div id="Vision"><br>
            <label><b>Fecha de la Agenda:</b></label>
            <input type="text" name="fechaAgenda" id="vision">
        </div>
        
        <div ><br>
            <button type="submit" id="confirmar"><b> Guardar </b></button>
          
        </div>
    </div>
</form>
<div id="cancelar">
 <a href="/agenda/lista/{{user.id_usuario}}"> <button type="buttom" id="confirmar"><b>  Cancelar </b></button></a>
</div>
