<link rel="stylesheet" href="/css/navegacion.css">
{{#if user}}
<nav>
  <div id="nav1">
    <a id="nav" href="/clientes/lista/{{user.idUsuarios}}"> Inicio</a>
  </div>
  <div id="nav2">
    <a href="/ProductoEntrada/lista/{{user.idUsuarios}}"> Inventario</a>
  </div>
  <div id="nav3">
    <a href="/proveedor/lista/{{user.idUsuarios}}"> Proveedores</a>
  </div>
  <div id="nav4">
    <a href="/CerrarSesion">Cierre la Sesión</a>
  </div>
</nav>
{{/if}}

