<link rel="stylesheet" href="/css/navegacion.css">
{{#if user}}
<nav>
  <div id="nav1">
    <a id="nav" href="/informacion/problemas/{{user.idUsuarios}}">Consejos</a>
  </div>
  <div id="nav2">
    <a href="/informacion/vida/{{user.idUsuarios}}"> Apoyo Sano</a>
  </div>
  <div id="nav3">
    <a href="/informacion/actividades/{{user.idUsuarios}}"> Actividades</a>
  </div>
  <div id="nav4">
    <a href="/CerrarSesion">Cierre la Sesión</a>
  </div>
</nav>
{{/if}}

