<link rel="stylesheet" href="/css/navegacion.css">
{{#if user}}
<nav>
  <div id="nav1">
    <a id="nav" href="/problemas">Consejos</a>
  </div>
  <div id="nav2">
    <a href="/informacion/vida/{{user.idUsuarios}}"> Apoyo Sano</a>
  </div>
  <div id="nav3">
    <a href="/agenda/lista/{{user.id_usuario}}"> Agenda</a>
  </div>
  <div id="nav4">
    <a href="/cerrar">Cierre la Sesión</a>
  </div>
</nav>
{{/if}}

