*{/*quitar el borde en la pantalla*/
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{ /*tipo de letra*/
  font-family: 'open sans';
}


#contenedor{
  padding:60px 0;/*espacio entre secciones*/
  width:90%;
  max-width:1000px; /*tamaño maximo aceptado*/
  margin:auto;
  overflow:hidden; /*esconder del contenedor si algo se esta saliendo*/
}

#tituloNosotros  {
  display:flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#titulo{
  color:#2499cf;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*header*/

header{ /*header*/
  width: 100%;
  height: 500px;
  background: #74ebd5;  
  background: -webkit-linear-gradient(to right, hsla(229, 52%, 79%, 0.589), hsla(169, 75%, 69%, 0.527)), url(../img/undraw_join_re_w1lh.svg);  
  background: linear-gradient(to right, hsla(229, 52%, 79%, 0.527), hsla(169, 75%, 69%, 0.527)), url(../img/undraw_join_re_w1lh.svg); 
  background-size:cover;
  background-attachment: fixed;
  position: relative;
}

nav{ /*cambios al menú del navegador*/
  text-align: right;
  padding: 30px 50px 0 0;
}


nav > a{
color:#fff;
font-weight: 300; /*fuente mas ligera*/
text-decoration: none;
margin-right: 10px;
}

nav >a:hover{
  text-decoration: underline;
}

header #textos-header{/*estilos para el texto*/
  display:flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#textos-header h1{
  font-size: 50px;
  color:#fff;
}

#textos-header h2{
  font-size: 30px;
  font-weight: 300;
  color:#fff;
}

#wave{
  position:absolute;
  bottom: 0;
  width: 100%;
}

/*about us*/

main #sobre-nosotros{
  padding: 30px 0 60px 0;
}
#contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly; /*reparte el espacio de manera equitativa*/
}

#imagen-about-us{
  width: 48%;
  border-radius: 50%;
}

#sobre-nosotros #contenido-textos{
  width: 48%;
}

#contenido-textos h1{
  margin-bottom: 15px;
}

#contenido-textos p{
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/*galeria*/

#portafolio{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 0%, rgba(255,255,255,1) 0%, rgba(0,138,255,1) 63%, rgba(0,48,255,1) 89%);
}

#galeria-port{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#imagen-port{
  width:24%;
  margin-bottom: 10px;
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, #5);
}

#imagen-port > img{
  width:100%;
  height:100%;
  object-fit: cover;
  display: flex;
  margin-bottom: 10px;
}

#hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  transform: scale(1);
  background: linear-gradient(90deg,#acb6e5ab, #86fde7be );
  transition: transform #5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hover-galeria img{
  width: 50px;
}

#hover-galeria p{
  color: #f2f2f2;
}

#imagen-port:hover #hover-galeria{
  transform: scale(0);
}

/* equipo */

#cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#cards #card{
  background: linear-gradient(90deg,#acb6e5, #86fde7 );
  display:flex;
  width: 46%;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, #6);
  padding-top: 5px;
}

#cards #card img{
  width: 120px;
  height: 120px;
  object-fit: cover; /*quitar distorcion*/
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}


#cards #card > #contenido-texto-card{
  width: 70%;
  color: #fff;
}

#cards #card > #contenido-texto-card p{
  font-weight: 300;
  padding-top: 50px;
}

/*nuestros servicios*/

#about-services{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,105,121,1) 0%, rgba(255,255,255,1) 0%, rgba(0,138,255,1) 63%, rgba(0,48,255,1) 89%);
  padding-bottom: 30px;
}

#planConcentracion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Plan-Concentracion {
  color:#fff;
  font-weight: 300; /*fuente mas ligera*/
  text-decoration: none;
  margin-right: 10px;
  font-size: 400%;
}

#Plan-Concentracion:hover{
  text-decoration: underline;
}

#planMeditacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Plan-Meditacion {
  color:#fff;
  font-weight: 300; /*fuente mas ligera*/
  text-decoration: none;
  margin-right: 10px;
  font-size: 400%;
}

#Plan-Meditacion:hover{
  text-decoration: underline;
}

#planVidaFitness{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Plan-Vida-Fitness {
  color:#fff;
  font-weight: 300; /*fuente mas ligera*/
  text-decoration: none;
  margin-right: 10px;
  font-size: 400%;
}

#Plan-Vida-Fitness:hover{
  text-decoration: underline;
}

#servicio-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#servicio-ind{
  width: 28%;
  text-align:center;
}

#servicio-ind img{
  width: 90%;
  padding-top: 20px;
}

#servicio-ind h2{
  margin: 10px 0;
  color: #fff;
  padding-top: 20px;
}

#servicio-ind p{
  font-weight:300;
  text-align: justify;
  padding-top: 10px;
  color: #fff;
  text-align:center;
}

/*footer*/

footer{
  background: #414141;
  padding:60px 0 30px 0;
  margin:auto;
  overflow: hidden;
}

#contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px; 
  border-bottom: 1px solid #ccc;   
}

#content-foo{
  text-align: center;
}

#content-foo h4{
  color:#fff;
  border-bottom: 3px solid #af20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#content-foo p{
  color:#ccc;
}

#titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color:#9e9797;
}
/*responsive design*/
@media screen and (max-width:900px){
  header{
      background-position: center; /*mostrar toda la imagen*/
  }
}

contenedor sobre-nosotros{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sobre-nosotros #contenido-textos{
  width: 90%;
}

#imagen-about-us{
  width: 90%;
}

/*galeria*/

#imagen-port{
  width:44%;
}

/*clientes*/
#cards{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cards #card{
  width:90%;
}

#cards #card:first-child{
  margin-bottom: 30px;
}

/*servicios*/

#servicio-cont{
  justify-content: center;
  flex-direction: column;
}

#servicio-ind{
  width: 100%;
  text-align: center;
}

#servicio-ind:nth-child(1), #servicio-ind:nth-child(2){
  margin-bottom: 60px;
}

#servicio-ind img{
  width: 90%;
}


@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }

  #textos-header h1{
      font-size: 35px;
  }

  #textos-header h2{
      font-size: 20px;
  }
}
/*about us*/

#imagen-about-us{
  margin-bottom: 60px;
  width: 99%;
}

#sobre-nosotros #contenido-textos{
  width: 95%;
}

  /*galeria*/

  #imagen-port{
      width: 95%;
  }

  /*clientes*/

  #cards #card{
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #cards #card img{
      width: 90px;
      height: 90px;
  }

/*footer*/

#contenedor-footer{
  flex-direction: column;
  border: none;
}

#content-foo{
  margin-bottom: 20px;
  text-align: center;
}

#content-foo h4{
  border: none;
}

#content-foo p{
  color: #ccc;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

#titulo-final{
  font-size: 20px;
}

