body {

    background: linear-gradient(90deg,#ACB6E5, #86FDE8 );
}

.nav-enlace{
    display: inline-block;
    background: #124e5e;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    text-align: end;
}
.nav-enlace:hover{
    background: #addae5;
}
nav{
    background: linear-gradient(90deg,#ACB6E5, #86FDE8 );
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.nav-boton{
    background: #093846;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    nav{
        background: linear-gradient(90deg,#ACB6E5, #86FDE8 );
        flex-direction: column;
        
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .container{
        display: inline-block;
    }
    #logom{
        display: inline-block;
    }
}


#logo{
	width: 100px;
	border-radius: 100%;
    position: absolute;
    left: 2%;
}

.titulo{
    text-align: center;
    text-decoration: double;
}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}


.caja1{
    text-align: center;
    background: linear-gradient(90deg, #8692fd,#e0e1e7 );
    border-radius: 5%;
    width: 1100px;
    height: 200px;
    font-size: 27px;
    position: relative;
    left: 300px;
    top: 100px;
}

.caja2{
    text-align: center;
    background: linear-gradient(90deg, #8692fd,#e0e1e7 );
    border-radius: 5%;
    width: 1100px;
    height: 180px;
    font-size: 28px;
    position: relative;
    left: 300px;
}


.estres{
    text-align: center;
}

.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.seis {
	background: none;
	color: #000;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
	stroke: #000;
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
}



footer {
	background: black;
	width: 100%;
	overflow: auto;
  }

  .icon-text-text {
	float: left;
	width: 100%;
  }
  
  .footer-nav {
	text-align: right;
  }

  .social {
	list-style-type: none;
	text-align: end;
  }
  
  .social li {
	display: inline;
  }
  
  .social i {
	font-size: 300%;
	margin: 1%;
	padding: 1%;
	color: #c3d7df;
  }
  
  @media screen and (max-width: 1024px) {
	p {
	  font-size: 100%;
	}
	h3 {
	  font-size: 100%;
	}
	header {
	  height: 80px;
	  position: relative;
	}
	header #logo {
	  margin: 25px 0 50px -25px;
	}
  
	#menu-icon {
	  display: inline-block;
	}
  
	nav:hover ul {
	  display: block;
	}
  
	nav ul, nav:active ul {
	  display: none;
	  z-index: 1000;
	  position: absolute;
	  padding: 20px;
	  background: #f5f5f5;
	  border: 1px solid #a5bdcd;
	  right: 20px;
	  width: 30%;
	  opacity: .95;
	}
	nav li {
	  text-align: center;
	  width: 100%;
	}
	
  }
  