<link rel="stylesheet" href="/css/agregar.css ">
<form action="/proyecto/agregar/" method="post" id="contenedor" >
    <div class="controlador"><br>
        <div id="titulo">
            {{#each idMax}}
            <label><b>AGREGAR PROYECTO Nº</b>
                <input value="{{'max(id_proyecto)'}}" type="text" name="numero" id="numero">
            </label>
            {{/each}}
        </div>
        <div id="Nombre"><br>
            <label><b> Nombre Proyecto: </b></label>
            <input type="text" name="nombreProyecto" id="nombre">
        </div>
        <div id="Descripcion"><br>
            <label><b> Descripcion Proyecto:</b></label>
            <input type="text" name="descripcionProyecto" id="descripcion">
        </div>
        <div id="Mision"><br>
            <label><b>Mision Proyecto:</b></label>
            <input type="text" name="misionProyecto" id="mision">
        </div>
        <div id="Vision"><br>
            <label><b>Vision Proyecto:</b></label>
            <input type="text" name="visionProyecto" id="vision">
        </div>
        <div id="objetivos"><br>
            <label><b>Objetivos:</b></label>
            <input type="text" id="numeros" placeholder="Ingrese su número de objetivos" checked>
        </div><br>

        <div id="listaObjetivos"></div>

        <div id="crearObjeto"> <br>
            <button type="button" onclick="objetivos.crear()"><b>Crear Objetivos</b></button>
        </div>
        
        <div id="guardar"><br>
            <button type="submit"><b>Guardar</b></button>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/objetivo.js"></script>