<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MindConcentrade</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/estilos.css">

</head>

<body>

  <!-- MAIN WRAPPER -->
  <div id="wrapper">

    <!-- BANNER WRAPPER -->
    <div id="banner-wrapper">
      <header>
        <div id="header-inner">
          <a href="inicio.html" id="logo">
            <img src="imagenes/logo.jpeg" alt="">
          </a>

          <nav>
            <a href="#" id="menu-icon">
              <i class="fa fa-bars"></i>
            </a>
            <ul>
              <li>
                <a href="inicio.html" class="current">
                  Inicio
                </a>
              </li>
              <li>
                <a href="login.html">
                  Inicia Sesion
                </a>
              </li>
              <li>
                <a href="register.html">
                  Registrate
                </a>
              </li>
              <li>
                <a href="problemas.html">
                  Consejos Utiles
                </a>
              </li>
              <li>
                <a href="vida.html">
                  Vida Sana
                </a>
              </li>
              <li>
                <a href="dashboard.html">
                  Actividades
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- SLIDER -->
      <div id="slide-wrap">
        <section class="slider">
          <ul class="slider1">
            <li><img src="imagenes/carrusel1.jpg" alt=""></li>
            <li><img src="imagenes/carrusel2.jpg" alt=""></li>
            <li><img src="imagenes/carrusel3.jpg" alt=""></li>
            <li><img src="imagenes/carrusel4.jpg" alt=""></li>
          </ul>
        </section>
      </div>
    </div>

    <!-- ICONS -->

    <section class="one-third" id="skills">
      <div class="icon-wrap">
        <i class="fa fa-cloud"></i>
      </div>
      <br>
      <h2><b>MENTE</b></h2><br>
      <h4 style="color: black; text-align: justify;">La Salud Mental es el estado de bienestar emocional, psicológico y
        social del individuo, y determina la capacidad de las personas de funcionar y lidiar con los problemas de la
        vida diaria y todo lo que representa. <br> <br>
        Cuando escuchamos la frase "Salud Mental", a menudo pensamos en problemas de salud mental. Pensamos en síntomas
        como bajo estado de ánimo y enfermedades como la depresión o la ansiedad. <br><br>
        A lo largo de tu vida, pueden haber momentos en los que experimentes bajo estado de ánimo, miedo, ansiedad o
        confusión. Estos sentimientos son parte de la vida cotidiana y no siempre significan que tengas un problema de
        salud mental.</h4>
    </section>

    <section class="one-third">
      <div class="icon-wrap">
        <i class="fa fa-child"></i>
      </div>
      <br>
      <h2>CUERPO</h2><br>
      <h4 style="color: black; text-align: justify;">La práctica de actividad física no solo libera las denominadas
        "hormonas de la felicidad", también permite una mayor conciencia corporal y el autoconocimiento, lo que se
        traduce en una mejor identificación de las emociones. <br><br>
        Cuando practicamos actividad física, practicamos también actividad mental y eso mejora nuestro bienestar.<br>
        <br>
        Entre más habitual se vuelva la práctica deportiva, el efecto será cada vez más positivo, debido a que la
        actividad física supone un estrés para el organismo. Sin embargo, se trata de un estrés controlado y
        planificado, que permite concretar objetivos y que otorgan una sensación de bienestar.
      </h4>
    </section>

    <section class="one-third">
      <div class="icon-wrap">
        <i class="fa fa-heartbeat"></i>
      </div>
      <br>
      <h2>ALIMENTACION</h2><br>
      <h4 style="color: black; text-align: justify;">La manera en que usted come los alimentos que son beneficiosos para
        la salud mental también desempeña un papel importante, según las investigaciones. <br> <br>
        La gente que comen frutas y vegetales crudos, en vez de cocidos, tienen un estado de ánimo más positivo, según
        un estudio publicado el pasado mes en la revista Frontiers of Psychology.<br> <br>
        Las 10 frutas y vegetales principales que encontraron vinculados con una mejor salud mental son las zanahorias,
        las bananas, las manzanas, los vegetales de hojas verdes oscuras como la espinaca, la toronja, la lechuga, las
        frutas cítricas, las bayas frescas, los pepinos y el kiwi.
      </h4>
    </section>

    <!-- LEFT COL -->
    <section class="left-col" id="portfolio">
      <br><br>
      <h3><b>CONOCETE</b></h3><br>
      <h4 style="color: black; text-align: justify;">
        La procrastinación es un fenómeno tan humano como el afán de aprendizaje. Llevado al extremo, no obstante, el
        hábito de postergar actividades es un trastorno del comportamiento relacionado con la ansiedad, el estrés y, en
        casos extremos, la depresión o la hiperactividad (trastorno por déficit de atención, TDAH). <br> <br>
        Es probable que te reconozcas como un procrastinador. Aunque el término es relativamente nuevo, la procrastinación es una conducta muy común. <br> <br> 
        La buena noticia es que, al ser una conducta aprendida, también se puede desaprender.
      </h4>
    </section>

    <section class="sidebar">
      <br><br>
      <img src="imagenes/procrastinar.gif">
    </section>
  </div>

  <div class="clearfix-padding"></div>

  <!-- FOOTER -->
  <footer>
    <div class="banner-wrapper">
      <div class="icon-text">
        <div class="icon-text-icon">
          <ul class="footer-nav">
            <li>
              <a href="inicio.html"><b>Inicio</b></a>
            </li>
            <li>
              <a href="nosotros.html"><b>Nosotros</b></a>
            </li>
            <li>
              <a href="terminos.html"><b>Terminos</b></a>
            </li>
            <li>
              <a href="contacto.html"><b>Contactanos</b></a>
            </li>
          </ul>
        </div>
        <div class="icon-text-text">
          <ul class="social">
            <li>
              <a href="mailto:contact@faztweb.com">
                <i class="fa fa-envelope-o"></i>
              </a>
            </li>
            <li>
              <a href="http://facebook.com/fazttech">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://twitter.com/fazttech">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://youtube.com/fazttech">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/fazttech">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <footer class="second-footer">
    <p>
      &copy; <a href="http://faztweb.com">MindConcentrade.com - 2021</a>
    </p>
  </footer>

  <!-- SCRIPTS -->
  <script>
    $(document).ready(function () {
      $('.slider1').bxSlider({
        mode: 'fade',
      });
      $('.slider2').bxSlider({
        mode: 'fade',
      });
      $('.slider3').bxSlider({
        mode: 'fade',
      });
    });
  </script>
</body>

</html>