<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>MindConcentrade</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/estilo-login.css">
</head>

<body>

	<!-- MAIN WRAPPER -->
	<div id="wrapper">

		<!-- BANNER WRAPPER -->
		<div id="banner-wrapper">
			<header>
				<div id="header-inner">
					<a href="inicio.html" id="logo">
						<img src="imagenes/logo.jpeg" alt="">
					</a>

					<nav>
						<a href="#" id="menu-icon">
							<i class="fa fa-bars"></i>
						</a>
						<ul>
							<li>
								<a href="inicio.html" class="current">
									Inicio
								</a>
							</li>
							<li>
								<a href="login.html">
									Inicia Sesion
								</a>
							</li>
							<li>
								<a href="register.html">
									Registrate
								</a>
							</li>
							<li>
								<a href="problemas.html">
									Consejos Utiles
								</a>
							</li>
							<li>
								<a href="vida.html">
									Vida Sana
								</a>
							</li>
							<li>
								<a href="dashboard.html">
									Actividades
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>


    <!--inicio del contenido-->

    <div class="container">
      <h3><b>TERMINOS Y CONDICIONES</b></h3>
      <p style="text-align: justify;color: black;">
        1.Terminos
        Al acceder al sitio web en MIND-CONCENTRADE, usted acepta estar vinculado por estos términos de
        servicio, todas las leyes y regulaciones aplicables, y acepta que usted es responsable del cumplimiento de las
        leyes
        locales aplicables. Si no está de acuerdo con alguno de estos términos, se le prohíbe utilizar o acceder a este
        sitio. Los materiales contenidos en este sitio web están protegidos por las leyes de derechos de autor y marcas
        aplicables.


        <br><br>
        2. Licencia de Uso

        Se concede permiso para descargar temporalmente una copia de los materiales (información o software) en el sitio
        web
        MIND-CONCENTRADE para la visualización transitoria personal y no comercial solamente. Esta es la
        concesión de una licencia, no una transferencia de título, y bajo esta licencia usted no puede:



        Modificar o copiar los materiales; utilizar los materiales para cualquier propósito comercial, o para cualquier
        exhibición pública (comercial o no comercial); intentar descompilar o realizar ingeniería inversa de cualquier
        software contenido en el sitio web de MIND-CONCENTRADE; eliminar cualquier Copyright u otras
        anotaciones propietarias de los materiales; o
        transferir los materiales a otra persona o «reflejar» los materiales en cualquier otro servidor.



        Esta licencia se terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser
        terminada
        por MIND-CONCENTRADE en cualquier momento. Al terminar su visualización de estos materiales o al
        finalizar esta licencia, debe destruir cualquier material descargado en su posesión ya sea en formato
        electrónico
        o
        impreso.


        <br><br>
        3. Responsabilidad

        Los materiales del sitio web de MIND-CONCENTRADE se proporcionan «tal cual».
        terminosycondicionesdeusoejemplo.com no otorga ninguna garantía, expresa o implícita, y por la presente renuncia
        y
        niega todas las demás garantías, incluyendo, sin limitación, garantías implícitas o condiciones de
        comerciabilidad,
        idoneidad para un propósito en particular, o no infracción de propiedad intelectual u otra violación de
        derechos.



        Además, MIND-CONCENTRADE no garantiza ni hace ninguna representación con respecto a la
        exactitud, los resultados probables, o la confiabilidad del uso de los materiales en su sitio web o de otra
        manera
        relacionado con tales materiales o en cualquier sitio vinculado a este lugar.


        <br><br>
        4. Limitaciones

        En ningún caso MIND-CONCENTRADE o sus proveedores serán responsables de ningún daño (incluyendo,
        sin limitación, daños por pérdida de datos o beneficio, o debido a la interrupción del negocio) que surjan del
        uso
        o
        la incapacidad de utilizar los materiales en el sitio web de MIND-CONCENTRADE, incluso si
        MIND-CONCENTRADE o un representante autorizado de MIND-CONCENTRADE ha sido
        notificado verbalmente o por escrito de la posibilidad de tal daño. Debido a que algunas jurisdicciones no
        permiten
        limitaciones a las garantías implícitas, o limitaciones de responsabilidad por daños consecuentes o
        incidentales,
        es
        posible que estas limitaciones no se apliquen a usted.


        <br><br>
        5. Exactitud de Materiales

        Los materiales que aparecen en el sitio web de MIND-CONCENTRADE pueden incluir errores técnicos,
        tipográficos o fotográficos. MIND-CONCENTRADE no garantiza que cualquiera de los materiales en
        su sitio web son exactos, completos o actuales. terminosycondicionesdeusoejemplo.com puede realizar cambios en
        los
        materiales contenidos en su sitio web en cualquier momento sin previo aviso. Sin embargo
        MIND-CONCENTRADE no se compromete a actualizar los materiales.


        <br><br>
        6. Enlaces

        MIND-CONCENTRADE no ha revisado todos los sitios vinculados a su sitio web y no es responsable
        de los contenidos de dicho sitio vinculado. terminosycondicionesdeusoejemplo.com puede Agregar vínculo (s) o
        texto
        al código incrustado. La inclusión de cualquier enlace no implica la aprobación por
        MIND-CONCENTRADE del sitio. El uso de cualquier sitio web vinculado es bajo el propio riesgo del
        usuario.


        <br><br>
        7. Modificaciones

        MIND-CONCENTRADE puede revisar estos términos de servicio para su sitio web en cualquier momento
        sin previo aviso. Al utilizar este sitio web, usted acepta estar vinculado por la versión actual de estos
        términos
        de servicio.


        <br><br>
        8. Ley Aplicable

        Estos términos y condiciones se rigen e interpretan de acuerdo con las leyes globales y usted se somete
        irrevocablemente a la jurisdicción exclusiva de los tribunales en ese estado o ubicación.

        <br><br>
      </p>
    </div>


	<!-- FOOTER -->
	<footer>
		<div class="banner-wrapper">
			<div class="icon-text">
				<div class="icon-text-icon">
					<ul class="footer-nav">
						<li>
							<a href="inicio.html"><b>Inicio</b></a>
						  </li>
						  <li>
							<a href="nosotros.html"><b>Nosotros</b></a>
						  </li>
						  <li>
							<a href="terminos.html"><b>Terminos</b></a>
						  </li>
						  <li>
							<a href="contacto.html"><b>Contactanos</b></a>
						  </li>
					</ul>
				</div>
				<div class="icon-text-text">
					<ul class="social">
						<li>
							<a href="mailto:contact@faztweb.com">
								<i class="fa fa-envelope-o"></i>
							</a>
						</li>
						<li>
							<a href="http://facebook.com/fazttech">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="http://twitter.com/fazttech">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="http://youtube.com/fazttech">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
						<li>
							<a href="http://instagram.com/fazttech">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<footer class="second-footer">
		<p>
			&copy; <a href="http://faztweb.com">MindConcentrade.com - 2021</a>
		</p>
	</footer>

	<!-- SCRIPTS -->
	<script>
		$(document).ready(function () {
			$('.slider1').bxSlider({
				mode: 'fade',
			});
			$('.slider2').bxSlider({
				mode: 'fade',
			});
			$('.slider3').bxSlider({
				mode: 'fade',
			});
		});
	</script>
</body>

</html>