body::before {
    content: " ";
    width:100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#a8d6e0, #135869 );
    opacity: 0.5;
    z-index: -1;
}


.nav-enlace{
    display: inline-block;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(#135869);
}
nav{
    background: linear-gradient(90deg,#b0d7e0, #135869 );
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.nav-boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 500px) {
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}

 #contenedor{
     width: 700px;
     background: #2C5364;
     padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
 }

 .controlador{
     
    width: auto;
    background:#2C5364 ;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #52c4df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
 }
