.nav-enlace{
    display: inline-block;
    background: salmon;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.nav-boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 1024px) {
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}


body::before {
    content: " ";
    width:100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#a8d6e0, #135869 );
    opacity: 0.5;
    z-index: -1;
}

.titulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
}

#logo{
    margin: 20px;
	float: left;
	width: 80px;
	border-radius: 100%;
}


#logom{
    position: absolute;
    border-radius: 25px;  
    width: 500px;
    height: 400px;
    top: 65%;
    left: 75%;
    transform: translate(-50%,-50%);

}
.container{
    position: absolute;
    border-radius: 25px;
    width: 500px;
    height: 400px;
    top: 65%;
    left: 25%;
    transform: translate(-50%,-50%);
    background: #124e5e;


}

#informacion{
    color: white;
}
