#nav-enlace{
    display: inline-block;
    background: #124e5e;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
}
#nav-enlace:hover{
    background: #addae5;
}
nav{
    background: linear-gradient(90deg,#ACB6E5, #86FDE8 );
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
#nav-boton{
    background: #093846;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    nav{
        background: linear-gradient(90deg,#ACB6E5, #86FDE8 );
        flex-direction: column;
        
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}


body {

    background: linear-gradient(90deg,#ACB6E5, #86FDE8 );
}


#logo{
	width: 100px;
	border-radius: 100%;
    position: absolute;
    left: 2%;
}

#titulo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
}

#logom{
    position: absolute;
    border-radius: 25px;  
    width: 500px;
    height: 400px;
    top: 65%;
    left: 75%;
    transform: translate(-50%,-50%);

}
#container{
    position: absolute;
    border-radius: 25px;
    width: 500px;
    height: 400px;
    top: 65%;
    left: 25%;
    transform: translate(-50%,-50%);
    background: #124e5e;


}

#informacion{
    color: white;
}
