body::before {
    content: " ";
    width:100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#a8d6e0, #135869 );
    opacity: 0.5;
    z-index: -1;
}


.nav-enlace{
    display: inline-block;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(#135869);
}
nav{
    background: linear-gradient(90deg,#b0d7e0, #135869 );
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.nav-boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 500px) {
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}


.container{
    position: absolute;
    width: 450px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2C5364;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 15px #0F2027
    -8px -8px 25px;

}

 .controlador{
    position: absolute;
    width: 450px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2C5364;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 15px #0F2027
    -8px -8px 25px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #guardar{
     outline: none;
     border: none;
     cursor: pointer;
     width: 50%;
     height: 50px;
     font-size: 20px;
     border-radius: 30%;
     align-items:center;
 }
 

#crearObjeto{
     outline: none;
     border: none;
     cursor: pointer;
     width: 50%;
     height: 50px;
     font-size: 20px;
     font-weight:700;
     border-radius: 30%;
     align-items:center;
 }
 
 
