body::before {
    content: " ";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #a8d6e0, #135869);
    opacity: 0.5;
    z-index: -1;
}


.nav-enlace {
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace:hover {
    background: rgb(#135869);
}

nav {
    background: linear-gradient(90deg, #b0d7e0, #135869);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-boton {
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 500px) {
    nav {
        background: black;
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px 0;
    }

    .nav-boton {
        display: inline-block;
    }

    .desaparece {
        display: none;
    }
}

.controlador {
    position: absolute;
    width: 60%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2C5364;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 15px #0F2027 -8px -8px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.datos {

    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2C5364;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 15px #0F2027 -8px -8px 25px;

}

#Nombre {
    text-align: start;
    color: rgb(5, 5, 5);
}

button {

    outline: none;
    border: none;
    cursor: pointer;
    width: 125px;
    height: 50px;
    font-size: 20px;
    font-weight:700;
    border-radius: 10%;
    color:black;
    background: linear-gradient(90deg,#c46565, #a02e2e );
}

