*{

    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 80px 20px 0;
}

.navegacion{
    background: #0F2027;  
    height: 120px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    }