.nav-enlace{
    display: inline-block;
    background: #124e5e;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
}
.nav-enlace:hover{
    background: #addae5;
}
nav{
    background: linear-gradient(90deg,#a8d6e0, #135869 );
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}
.nav-boton{
    background: #093846;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    nav{
        background: linear-gradient(90deg,#a8d6e0, #135869 );
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}


